<div id="content">

<div id="contentleft">

<div style="text-align: right; font-size:1.7em;">
<%= link_to 'Upload a file', new_attachment_path %> 
</div>

<h1>All files</h1>
 
<% @attachments.each do |attachment| %>
    <p class="small"><%= attachment.file_file_name %></p>
	<table>
	  <tr>
	    <td><%= link_to 'Show', attachment %></td>
	    <td><%= link_to 'Delete', attachment, :confirm => 'Confirm deletion, please.', :method => :delete %></td>
	  </tr>
	</table>
<% end %>

 
<br />
 

<div style="clear:both;"></div>
 		
</div>
