<div id="content">

<div id="contentleft">

<h1>Introduction</h1>

<p class="small"><img src="images/clock.gif" alt="" /> January 08, 2012</p>

<blockquote>Box Hill is one of the best known features in the North Downs. Only 20 miles from the centre of London, it is a haven of natural beauty with more than a million visitors every year. Those numbers mean that special care is necessary to protect its many rare species of flora and fauna. The Friends of Box Hill is an independent association, affiliated to the Campaign to Protect Rural England. It is made up of people who love the Hill, and keep a close watch on everything that affects it.
 </blockquote>

<h1>Necessary Information</h1>

<p class="small"><img src="images/clock.gif" alt="" /> January 08, 2012</p>
<p>'The Box Hill Book of Bugs...and other small creatures' by Anne & John Bebbington'The Box Hill Book of Butterflies' by Gail Jeffcoate 	The association advises the National Trust on the conservation of the Hill and supports its work. We are particularly concerned with the improvement of the amenities of the Hill and educating the public in its unique ecology. With this in mind, we have produced a number of publications including a map of the Hill and the Box Hill Books of Bats, Box, Bugs, Butterflies, Geology & Orchids - full of information and beautiful pictures.
'The Box Hill & Mole Valley Book of Geology' by Richard Selley'The Box Hill Book of Orchids' by Ann Sankey 	You can join us using this application form. To find out more (including about forthcoming events and news from the Hill) have a look at the blog or please ring 01306 885502, or email, or write to:
      The Friends of Box Hill Association,
      c/o the National Trust, Warren Farm Barn,
      Headley Lane, Mickleham, Dorking, RH5 6DG. </p>

<p><a href="#" title="Read more"><img src="images/document.gif" alt="" /> Read more</a> | <a href="#" title="Comments"><img src="images/comment.gif" alt="" /> Comments</a></p>  

<div style="clear:both;"></div>
 		
</div>
	

