<div id="content">

<div id="contentleft">

<h1>Edit the new</h1>
 
<%= render 'form' %>
 
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<div style="clear:both;"></div>
 		
</div>
