<div id="topbar">

<div id="topbarleft"> </div>

<div id="topbarright">

		<ul>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "News", new_path %></li>
			<li><%= link_to "PDF", pdf_path %></li>
			<li><a href="http://friendsofboxhill.blogspot.com/"> Blog</a></li>
			<li><%= link_to "Publication", publication_path %></li>
			<li><a href="/admin"> Admin panel</a></li>

		</ul>
</div>

<h1>The Friends of Box Hill</h1>
<h2>CourseWork application</h2>

</div>
